.__container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.__btn-container-1 {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.__btn-container-2 {
   position: absolute;
   top: 20%;
   left: 30%;
   transform: translate(-50%, -50%);
}

.__btn-container-3 {
   position: absolute;
   top: 80%;
   left: 30%;
   transform: translate(-50%, -50%);
}

.__btn-container-4 {
   position: absolute;
   top: 50%;
   left: 10%;
   transform: translate(-50%, -50%);
}
